<div class="header-content">
  <div class="header-content__list">

    <div class="header-content__item">
      <div class="header-content__item-icon">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="header-content__item-text">New group</div>
    </div>

    <div class="header-content__item">
      <div class="header-content__item-icon">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </div>
      <div class="header-content__item-text">Contacts</div>
    </div>

    <div class="header-content__item">
      <div class="header-content__item-icon">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <div class="header-content__item-text">Settings</div>
    </div>

    <div class="header-content__item">
      <div class="header-content__item-icon">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </div>
      <div class="header-content__item-text">Telegram FAQ</div>
    </div>

    <div class="header-content__item">
      <div class="header-content__item-icon">
        <i class="fa fa-question" aria-hidden="true"></i>
      </div>
      <div class="header-content__item-text">About</div>
    </div>
  </div>
</div>
